---
import Layout from '~/layouts/LandingLayout.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Bulwark Bookworks',
};

const callToActionSubtitle = "<p>We publish tales forged in conflict and conviction</p>";
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="Stories that hold the line."
    title="Welcome to Bulwark Bookworks"
    subtitle="Lorem ipsum dolar sit amet"
    actions={[
      { variant: 'primary', text: 'Join the Vanguard', href: '#' },
      { text: 'Learn more', href: '#' },
    ]}
    image={{
      src: '/images/hero/pexels-mali-101708.jpg',
      alt: 'Typewriter. It starts with one WORD',
    }}
    imageFlavor='wide'
  />

  <CallToAction
    title="Lorem Ipsum"
    subtitle={callToActionSubtitle}
    actions={[
      {
        variant: 'primary',
        text: 'Download Template',
        href: 'https://github.com/onwidget/astrowind',
        icon: 'tabler:download',
      },
    ]}
  />
</Layout>
