---
import Layout from '~/layouts/LandingLayout.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import { getPermalink } from '../utils/permalinks';

const metadata = {
  title: 'Bulwark Bookworks',
};

const callToActionSubtitle = "<p>We publish tales forged in conflict and conviction</p>";
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="Stories that hold the line."
    title="Bulwark Bookworks"
    subtitle="We publish sci-fi and fantasy with conviction. No nihilism. No lectures. Just stories that mean something."
    actions={[
      //{ variant: 'primary', text: 'Join the Vanguard', href: getPermalink('/join/vanguard') },
      { text: 'Learn more', href: getPermalink('/about-us') },
    ]}
    image={{
      src: '/images/hero/pexels-mali-101708.jpg',
      alt: 'Typewriter. It starts with one WORD',
    }}
    imageFlavor='wide'
  />
</Layout>
